.outer-div{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label{
    width: 400px;
}

.user-email{
    font-weight: bold;
}

.toast-bottom-right {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
}