.title-text {
    margin-left: 2%;
    margin-top: 1%;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #map {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
  }
  
  .add-favorite-button {
    background-color: #28a745;  /* Green background */
    color: white;               /* White text */
    border: none;               /* No border */
    width: 130px;
    padding: 10px 10px;         /* Padding around the text */
    font-size: 16px;            /* Font size */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
    margin: 4px 0px;             /* Add margin to top and bottom */
}

.add-favorite-button:hover {
    background-color: #218838;  /* Darker green on hover */
    transform: scale(1.05);      /* Slightly increase size on hover */
}

.add-favorite-button:active {
    transform: scale(0.95);      /* Slightly decrease size when clicked */
}

.info-container {
  display: flex;                /* Use flexbox */
  justify-content: space-between; /* Space between info and buttons */
  align-items: flex-start;      /* Align items to the start */
}

.button-container {
  display: flex;
  flex-direction: column;
}

.filter-button {
  background-color: #007BFF !important;
}