.title-text {
    margin-left: 2%;
    margin-top: 1%;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #map {
    height: 100vh; /* 100% of the viewport height */
    width: 100vw;  /* 100% of the viewport width */
  }
  
  .add-favorite-button {
    background-color: #28a745;  /* Green background */
    color: white;               /* White text */
    border: none;               /* No border */
    padding: 10px 15px;         /* Padding around the text */
    font-size: 16px;            /* Font size */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.add-favorite-button:hover {
    background-color: #218838;  /* Darker green on hover */
    transform: scale(1.05);      /* Slightly increase size on hover */
}

.add-favorite-button:active {
    transform: scale(0.95);      /* Slightly decrease size when clicked */
}

.button-container {
  display: flex;                /* Use flexbox */
  justify-content: center;      /* Center horizontally */
  align-items: center;          /* Center vertically if necessary */
  margin: 20px 0;              /* Add some margin if needed */
}