.clear-route-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #f44336; 
}

/*Dark mode for the Map component*/
.map-dark-mode .leaflet-layer,
.map-dark-mode .leaflet-control-zoom-in,
.map-dark-mode .leaflet-control-zoom-out,
.map-dark-mode .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}


.routing-dark-mode {
  background-color: #333;
  color: #fff; 
}

.routing-light-mode {
  background-color: #fff; 
  color: #000;
}

/*
.d-flex {
  color: black !important;
}
*/

/*for now this makes the Directions header black in text for now*/
#contained-modal-title-vcenter {
  color: black !important;
}

.search-input {
  color: black !important;
  background-color: white !important;
}


/*for now this makes the phrase 'Search a starting point' black in text*/
.search-input::placeholder {
  color: black !important;
}

/*for now this makes the dropdown options black in text*/
.add-dropdown-menu{
  color: black !important;
  top: 60px;
}

.info-container.dark-mode {
  background-color: #333;
  color: #fff; 
}

.leaflet-popup-content-wrapper {
  background-color: #ffffff; 
  color: #000; 
  border-radius: 8px;
  padding: 10px;
}


.main-popup.dark-mode .leaflet-popup-content-wrapper {
  background-color: #333333; 
  color: #ffffff; 
}

.main-popup.dark-mode .leaflet-popup-tip {
  background: #333333; 
}



.d-flex-dark-mode {
  display:  flex;
  background-color: #333;
  color: white !important;

}

.search-input-dark-mode {
  background-color: #333;
  padding-bottom: 10px;
  color: white;
}
