.light {
    color: #111111;
    background-color: #f8f9fa;
}

.dark {
    color: #f8f9fa;
    background-color:#111111;
}

.dark:hover {
    color: #f8f9fa;
}

.same-btn {
    width: 100px;
    margin-left: 10px;
}