.rowAdj{
    padding-top: 60px;
}

.scrollable-list {
    height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
}

.custom-width {
    width: 125px;
}

label{
    width: 400px;
}

.addButton{
    width:200px;
}

.add-dropdown-menu {
    width: 275px;
    z-index: 2000;
    max-height: 300px; 
    overflow-y: auto;  
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 40px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #a7c8e9;
}