label{
    width: 400px;
}

.light {
    color: #111111;
    background-color: #f8f9fa;
}

.text-light {
    color: #f8f9fa;
}

.dark {
    color: #f8f9fa;
    background-color:#111111;
}

.dark input:focus {
    background-color: #111111;
    color: #f8f9fa;
}

.dark input::placeholder {
    color: #f8f9fa;
}

.dark:hover {
    color: #f8f9fa;
}

.rowAdj{
    padding-top: 60px;
}

.scrollable-list {
    height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
}

.custom-width {
    width: 125px;
}

.addButton{
    width:200px;
}

.add-dropdown-menu {
    width: 275px;
    z-index: 2000;
    max-width: 300px;
    max-height: 300px; 
    overflow-y: auto;  
    overflow-x: hidden;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 40px;
}

.dropdown-item {
    cursor: pointer;
    white-space: normal;
}

.dropdown-item:hover {
    background-color: #a7c8e9;
}

.marginbutton{
    margin-left: 5px;
}

.suggestions-header {
    font-size: 1.5rem; 
    margin-bottom: 10px;
    color: #111111; 
}

.spacing {
    margin: 20px 0; 
}