.search-bar {
    position: relative;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

/* .greeting-message {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.1em;
} */

.search-message{
  font-weight: bold;
  font-size: 1.5em;
  /* margin-bottom: 0.1em; */
  margin: 0;
}

/*button*/
.custom-b{
    border-radius:20px;
    transition: background-color 0.3s ease;
}

.custom-b:hover {
    background-color: #7f81e8; 
    color: white; 
}

.dropdown-menu {
    width: 82%;
    z-index: 2000;
    max-height: 300px; 
    overflow-y: auto;  
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #a7c8e9;
}

.dark-mode-input{
  background-color: #333;
  color: white;
}


/* responsiveness search bar for mobile screens */
@media (max-width: 375px) {
    .search-bar { 
      left:95px;
    }
  }
  
  /* Styles for small screens */
  @media (max-width: 414px) {
    .search-bar { 
      left:105px;
    }
  }
  
  /* Styles for small screens */
  @media (max-width: 430px) {
    .search-bar { 
      left:105px;
    }
  }
  
  
  @media (width: 768px) {
    .search-bar { 
      left:10px;
    }
  }
  
  @media (width: 820px) {
    .search-bar { 
      left:10px;
    }
  }
  
  @media (width: 1024px) {
    .search-bar { 
      left:10px;
    }
  }
  @media (width: 912px) {
    .search-bar { 
      left:10px;
    }
  }
  
  @media (width: 540px) {
    .search-bar { 
      left:105px;
    }
  }
  
  @media (width: 853px) {
    .search-bar { 
      left:10px;
    }
  }
  
  @media (width: 1280px) {
    .search-bar { 
      left:10px;
    }
  }